$sidebar-bg-color: white;
$sidebar-color: #ACACAC !default;
$sidebar-width: 198px !default;
$icon-bg-color: none !default;
$icon-size: 50px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';